
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!-- Wide card with share menu button -->
<style>
    .demo-card-wide.mdl-card {
        width: 512px;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background: url('../assets/demos/welcome_card.jpg') center / cover;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>
<center>
    <br/>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">

        <div class="mdl-card__supporting-text">
            Krisha, is not predicted with <b>Type2 Diabetes</b>.<br/>
<br/>
            Intensity of having the disease is <b>42%</b>. @*It means you can control it by taking some predictions and regular medications. We suggest you to exersice daily in order to relieve some pain.*@
        </div>

    </div>
</center>